.profile-wrap {
  margin: 40px 0px;
}
.round-img {
  margin-top: 3em;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.edit-profile-btn {
  margin-top: 15px;
  width: 15em;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #dbdbdb;
  font-size: 12px;
}
.list-group-item {
  margin-top: 15px;
  word-break: break-all;
  width: 100%;
}
