.bg {
  background: url('/images/show_header.jpg') no-repeat center top;
  background-size: cover;
  position: relative;
  margin-top: 0px;
  padding-top: 50px;
  min-height: 400px;
  width: 100%;
}
.bg:before {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
.profile-text {
  color: #fffffe;
  word-break: break-all;
  margin: 15px auto;
  width: 60%;
}
.centered {
  text-align: center;
}
.mt {
  margin-top: 50px;
  margin-bottom: 50px;
}
.profile-wrap {
  margin: 10px 0px;
}
.round-img {
  text-align: center;
  margin-top: 3em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.edit-profile-btn {
  margin: 15px auto;
  width: 15em;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  font-size: 12px;
  color: #33272a;
}
.card {
  background: #faeee7;
  border: none;
}
.card-img {
  height: 200px;
  object-fit: cover;
}
.card-body {
  text-align: center;
  height: 250px;
}
a.card-next {
  text-decoration: none;
  color: #8c8c8c;
  transition: border-color 0.3s;
}
a.card-next:hover {
  color: #594a4e;
  border-bottom: 1px dotted #594a4e;
}
.card-footer {
  text-align: center;
}
.paginationWrap {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 40px;
}
.paginationWrap ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.paginationWrap ul.pagination li {
  display: inline;
  margin-right: 4px;
}
.paginationWrap ul.pagination li a {
  color: #2f3859;
  padding: 8px 14px;
  text-decoration: none;
}
.paginationWrap ul.pagination li a.active {
  background-color: #ffc6c7;
  color: white;
  border-radius: 40px;
  width: 38px;
  height: 38px;
}
.paginationWrap ul.pagination li a:hover:not(.active) {
  background-color: #ffc6c7;
  border-radius: 40px;
}
